body{
	background:bisque;
}
#main{
	background:black;
	margin:4%;
	display:flex;
	justify-content: space-around;
}
.leftdiv{
	background-color: pink;
	margin:4%;
	text-align: center;
	border-radius: 5%;
	box-shadow: 4px 4px 4px 4px;
	width:30%;
	height:40%;

}
.rightdiv{
	background-color:orange;
	margin:4%;
	border-radius: 5%;
	box-shadow: 4px 4px 4px 4px;
	width:60%;
	padding: 3%;
}
img{
	margin:3%;
	width:70%;

}
/*mobile view*/
@media screen and (min-width:0 ) and (max-width:480px ) {
	body{
		background: aqua;
	}
	#main{
	background:pink;
	margin:1%;
	display:inline-block;
	justify-content: space-around;
}


}
.leftdiv{
	background-color: maroon;
	margin:2%;
	text-align: center;
	border-radius: 5%;
	box-shadow: 2px 2px 2px 2px;
	width:96%;
	height:40%;

}
.rightdiv{
	background-color:orange;
	margin:4%;
	border-radius: 5%;
	box-shadow: 2px 2px 2px 2px;
	width:96%;
	padding: 1%;
}
/*tab view*/
@media screen and (min-width:481px ) and (max-width:1024px ) {

body{
	background:#FFFFFF
 
;

}
.leftdiv{
	background-color: #D2D3F3;
	margin:1%;
	text-align: center;
	border-radius: 5%;
	box-shadow: 2px 2px 2px 2px;
	width:98%;
	height:40%;

}
.rightdiv{
	background-color:#494ca3;
	margin:4%;
	border-radius: 5%;
	box-shadow: 2px 2px 2px 2px;
	width:98%;
	padding: 1%;
}
#main{
	background:gold;
	margin:1%;
	display:inline-block;
	justify-content: space-around;
}
